/* Navigation */
body, nav {
    margin: 0
}

nav ul {
    background-color: #3e8e41;
    padding: 0.4em 0;
    margin: 0;
}

nav li {
    display: inline;
}

nav li a {
    color: white;
    font-weight: bold;
    padding-left: 0.5em;
    text-decoration: none;
    vertical-align: middle;
}

nav li a:hover {
    color: #F7FFCC;
}

/* Lists */
ul {
    margin-left: 0;
    padding-left: 0.5em;
}

li {
    list-style: none;
    margin-top: 0.25em;
}

li a {
    color: black;
    padding-left: 0.5em;
    text-decoration: black;
}

dd, dt {
    margin-left: 0;
}

dt {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    font-weight: bold;
}

table {
    border: 1px solid black;
    margin-left: 1em;
}

tr {
    background-color: lightgreen;
}

tr:nth-child(even) {
    background-color: lightyellow;
}

tr:nth-child(odd) {
    background-color: sandybrown;
}

tfoot {
    font-weight: bold;
    text-align: right;
}

th, tfoot tr td {
    background-color: green;
    color: white;
}

label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

input {
    display: block;
    font-weight: bold;
    padding-top: 0.25em;
}

button {
    background-color: green;
    color: white;
    border: 0;
    font-size: 1.3em;
}

/* heading, and text */
img, h1, h2, p, dd, dt, form {
    padding-left: 1em
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: green;
}

form {
    margin-top: 2em;
}
