<div xmlns:th="http://www.thymeleaf.org">
    <nav th:fragment="menu">
        <ul>
            <li><a th:href="@{/}">Welkom</a></li>
            <li><a th:href="@{/brouwer}">Brouwers</a></li>
            <li th:if="${isMandjeGevuld}"><a th:href="@{/manje}">Mandje</a></li>
        </ul>
    </nav>

    <head th:fragment="head(title)">
        <title th:text="${title}"></title>
        <link rel="icon" th:href="@{/images/beers.ico}" type="image/x-icon">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>

</div>